.my-flashsale .item {
	background: #fff;
	margin: 40px 0 20px;
}

.slick-track{ 
	margin-left: 0;
}

/* the slides */
.my-flashsale .slick-slide {
  margin: 0 10px;
}

/* the parent */
@media (min-width:768px) {
    .my-flashsale  .slick-list {
      margin: 0 -10px;
    }
}

.my-flashsale .item__img {
	height: 180px;
	position: relative;
}

.my-flashsale .item__img img {
	height: 100%;
	object-fit: cover;
}


.my-flashsale .item__title{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.my-flashsale .item__regular-price {
	text-decoration: line-through;
	color: #111;
	opacity: .6;
}

.my-flashsale  .item__sale-price {
    color: #d0021c;
    font-size: 18px;
    line-height: 1;
}

.my-flashsale  .item__info {
	padding: 5px;
}

/*Badge*/

.item__discount {
	display: flex;
	align-items: center;
	position: absolute;
	top: -32px;
	right: 0;
	background: #FBD641;
	color: #eb5757;
	font-size: 0.75rem;
	border-radius: 6px;
}

.item__discount img {
	margin-right: 5px;
}

.item__discount span {
	color: #eb5757;
	font-weight: bold;
	margin-left: 5px;
	display: inline-block;
	font-size: 0.875rem;
	background: #fff0e9;
	padding: 5px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.count-down-time {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    background: #2a69b9;
    position: relative;
    padding: 20px;
    color: #fff;
    align-items: center;
}

.count-down-time .count-down_name {
	font-size: 1.25rem;
	color: #fff;
	margin-right: 10px;
}

.count-down-time .count-down_name img {
    margin-right: 10px;
}

.count-down-time .count-down_name .title {
    font-size: 1.5rem;
    font-weight: 400;
}

.count-down-time .day,.count-down-time .hour,.count-down-time .minute,.count-down-time .second {
        border: 1px solid #fff;
        color:white;
        display: inline-block;
        text-align: center;
        padding:5px 0;
        width: 30px;
        border-radius:6px;
        font-size:1.125rem;
        line-height: 1;
    }
